// start .sWhy
.sWhy {
	@include media-breakpoint-up(md){
		--sPT: #{rem(63)};
		--sPB: #{rem(92px)};
		--sTPB: #{rem(49px)};
	}
	&__container{
		@include media-breakpoint-up(xxl){
			max-width: 1304px!important;
		}
	}

	//
	color: $white;
	background-color: $cyan;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 50%;
		@include media-breakpoint-up(xxl){
			left: 49%;
		}
		top: -1px;
		transform: translateX(-50%);

		width: 0;
		height: 0;
		border-style: solid;
		border-width: 27px 28.5px 0 28.5px;
		border-color: $white transparent transparent transparent;
	}


	.section-title{
		h2{
			margin-left: auto;
			margin-right: auto;
			max-width: rem(680);

			color: $white;
			//font-size: rem(45);
			font-weight: 700;
			line-height: (51.48/45);
		}
	}
	&__row{
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: #{rem(30)};
	}
	&__item{

	}
	&__ball{
		width: rem(130);
		height: rem(130);
		@include media-breakpoint-up(sm){
			width: rem(145);
			height: rem(145);
		}
		border-radius: 50%;
		margin: 0 auto rem(33) auto;

		box-shadow: 1px 5px 7px rgba(120, 151, 163, 0.75);

		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__icon{
		width: rem(63);
		height: rem(63);

		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__txt{
		font-size: rem(18);
		@include media-breakpoint-up(sm){
			font-size: rem(20);
		}
		font-weight: 700;
		line-height: (24/20);

		max-width: rem(232);
		margin: 0 auto;
	}

	//
	&__{}
	&__{}
} // end.sWhy