.top-nav {
	padding: rem(15) 0;
	@include media-breakpoint-up(lg){
		padding: rem(25) 0;
	}
	@include media-breakpoint-up(xxl){
		padding: 23px 0 27px;
	}

	&__container{
		@include media-breakpoint-up(xxl){
			max-width: 1410px!important;
			padding-right: 10px!important;
		}
	}
	&__row{
		--bs-gutter-x: #{rem(20)};
		@include media-breakpoint-up(xxl){
			--bs-gutter-x: #{rem(38)};
		}
	}
	&__logo{
		display: block;
		width: rem(168);

		margin-right: rem(15);
		@include media-breakpoint-up(xl){
			margin-right: rem(30);
		}
		@include media-breakpoint-up(xxl){
			margin-right: 0;
			position: relative;
			top: 10px;
		}

		img{
			width: auto;
			max-width: 100%;
		}
	}
	&__map-txt{
		color: $body-color;
		font-size: rem(26.4);
		line-height: (33.49/26);

		font-weight: 700;

		@include media-breakpoint-up(xxl){
			margin: 0 rem(72) 0 2px;
		}
	}

	//
	.menu{
		display: flex;
		align-items: center;

		.menu-item{
			margin-right: rem(20);
			@include media-breakpoint-up(xl){
				margin-right: rem(40);
			}
			&:last-child{
				margin-right: 0;
			}

			a{
				padding: 0;
				color: $body-color;
				text-decoration: none;
				font-size: rem(16);
				line-height: (20.48/16);
			}
		}
	}
	&__mail{
		color: $body-color;
		&:hover{
			color: $body-color;
		}
		font-size: rem(16);
		line-height: (20.48/16);

		text-decoration: none;
	}
	&__btn{
		@extend .btn-green;
		padding: rem(5) rem(16);
		min-width: rem(181);
	}
	&__{}
	&__{}
	&__{}
	&__{}
}
